* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    background-color: skyblue;
}

.container {
  width: 330px;
}

h1{
    font-size: 3rem;
    color: #5d5d5d;
    text-align: center;
}

.button {
    font-weight:bold;
    box-shadow: 0px 10px 14px -7px #276873;
    text-shadow: 0px 1px 0px #3d768a;
    background:linear-gradient(#599bb3, #408c99);
}
  
.button:hover {
    background: linear-gradient(#408c99, #599bb3);
}